.registerform {
    width: 50rem;
    margin-top: 3.5rem;
    padding-left: 4rem;
    &__heading {
        padding-bottom: 0.6rem;
        color: white;
        font-size: 2rem;
        font-weight: 900;
        font-style: italic;
    }
    &__input1 {
        width: 40%;
    }
    &__input2 {
        width: 80%;
    }
    &__button {
        background-color: #1dd4de;
        border: none;
        padding: 1rem 1rem;
        border-radius: 30%;
        color: white;
        margin-top: 0.6rem;
    }
    &__button:focus,&__button:hover {
        outline: none;
        background-color: #2af1ff83;
    }
    &__link {
        padding-left: 20%;
        padding-top: 5%;
    }
    &__error {
        margin-top: -2rem !important;
        padding: 1.3rem !important;
    }
}
.textbox_line{
    font: inherit;
    color: currentColor;
    border: 0;
    height: 1.1876em;
    margin: 0;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.field>label{
color: white !important;
}

.RSPBprogressBar{
    margin-top: -2.5rem;
    width: 45rem;
}

.indexedStep {
    color: white;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background-color: rgba(211, 211, 211, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .indexedStep.accomplished {
    background-color: rgba(0, 116, 217, 1);

  }
