.container {
    margin: 0;
    background-color:#0f3449 !important;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    background-color: #074365;
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 40% 65%;
    @media (max-width: 65em) {
        grid-template-columns: 100%;
      }
    border-radius: 2.5rem;
    overflow: hidden;
    box-shadow: 0 5rem 8rem rgba(black, 0.2);
    &__signup {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--form {
            height: 70%;
        }
    }

    &__image {
        width: 80%;
        height: 77%;
    }
    @media (max-width: 65em) {
        &__image {
            display: none;
        }
      }
}